{% extends 'blogMain.html' %}

<!-- Add title -->
{% block title %}Giang Pham's Blog{% endblock %}

{% block contents %}

<h2 class="px-5 handwriting">📝 All Posts:</h2>
<div class="container-fluid box-transparent py-3">
  
  {% for blog in blogs.all %}
  <div class="container box-radius bg-light text-dark mb-3">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 p-3">
        <a href="/blog/{{ blog.id }}"><img src="{{ blog.image.url }}" class="img-fluid img-thumbnail scale-hover shadow" alt="Blog image"></a>
      </div>
      <div class="col-lg-9 col-md-8 col-sm-6 p-3">
        <a class="text-success" href="/blog/{{ blog.id }}"><h4>{{ blog.title }}</h4></a>
        <p>{{ blog.summary }}</p>
        <p class="text-right text-muted">{{ blog.pubDate }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}