<!DOCTYPE html>
<html>

<head>

  {% load staticfiles %}

  <meta charset="utf-8" />
  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'mystyle.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Gochi+Hand" rel="stylesheet">

</head>

<body>

  <!-- Header -->
  <div class="album p-3 box-transparent">

    <nav id="scroll-items" class="navbar navbar-expand-md navbar-dark box-radius">
      <a class="navbar-brand" href="{% url 'main' %}">Giang Pham</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="{% url 'main' %}">Home Page</a>
          <a class="nav-item nav-link" href="{% url 'blogHome' %}">All Blogs</a>
        </div>
      </div>
    </nav>

    <div class="container text-center py-5">
      <h1 class="text-orange text-center my-3 handwriting">📃 WELCOME TO MY BLOG! ✏️</h1>
    </div>
  </div>

  <!-- Body contents -->
  {% block contents %}
  {% endblock %}

  <!-- Footer -->
  <footer class="container-fluid text-light box-transparent text-center p-5 mt-5">
    © Giang Pham {% now "Y" %}
    <a class="text-light ml-3" href="https://www.facebook.com/phamgiang2510" target="_blank">
      <img class="fly-hover" src="{% static 'facebook.png' %}" alt="Facebook">
    </a>
    <a class="text-light ml-2" href="mailto:phamgiang2510@gmail.com">
      <img class="fly-hover" src="{% static 'email.png' %}" alt="Email">
    </a>
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>