{% extends 'blogMain.html' %}

{% load staticfiles %}

<!-- Add title -->
{% block title %}Giang Pham's Blog - {{ blog.title }}{% endblock %}

{% block contents %}

<a class="text-light" href="{% url 'blogHome' %}">
  <h2 class="px-5 handwriting">← Go back to all posts</h2>
</a>

<!-- Blog section -->
<div class="container-fluid box-transparent py-3 text-dark">
  <div class="container bg-light box-radius p-md-5 p-3">
    <h4>{{ blog.title }}</h4>
    <p class="text-muted">→ {{ blog.pubDate }}</p>
    <hr>
    <img src="{{ blog.image.url }}" class="img-thumbnail shadow d-block mx-auto my-4" alt="Blog image">
    <p>{{ blog.body }}</p>
  </div>

  <!-- Comment section -->
  <div class="container bg-light box-radius p-md-5 p-3 mt-3">
    <p>Leave your comment here:</p>
    {% if error %}
    <p class="text-danger">{{ error }}</p>
    {% endif %}
    <form action="{{ blog.id }}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input class="form-control" type="text" placeholder="Your name" name="name">
      </div>
      <div class="form-group">
        <textarea class="form-control" type="text" row="3" placeholder="Your comment" name="text"></textarea>
      </div>
      <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>

    {% for comment in comments.all %}
    <hr>
    <div>
      <div class="row px-3">
        <div>
          <img class="img-fluid d-block ml-3 mt-1" src="{% static 'user.png' %}" alt="User icon">
        </div>
        <div class="col">
          <label class="text-success font-weight-bold">{{ comment.name }}</label>
          <label class="text-muted ml-3">→ {{ comment.time }}</label>
          <p>{{ comment.text }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}