body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
}

.handwriting {
  font-family: 'Gochi Hand';
}

.bold {
  font-weight: 700;
}

.text-orange {
  color: #ffc700;
}

#avatar {
  max-width: 75%;
}

.box-transparent {
  background-color: rgba(0,0,0,0.6);
}

.box-radius {
  border-radius: 10px;
}

.bg-green {
  background-color: #1dd141;
}

.bg-orange {
  background-color: #ffc700;
}

.scale-hover {
  transition: transform 0.3s ease
}

.scale-hover:hover {
  transform: scale(1.05, 1.05)
}

.fly-hover {
  transition: transform 0.3s ease
}

.fly-hover:hover {
  transform: translateY(-5px)
}