<!doctype html>
<html lang="en">

<head>

  {% load staticfiles %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Giang Pham's portfolio</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'mystyle.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700|Gochi+Hand" rel="stylesheet">

</head>

<body>

  <!-- Navbar -->
  <header>
    <nav id="scroll-items" class="navbar navbar-expand-md fixed-top navbar-dark box-transparent box-radius m-3">
      <a class="navbar-brand" href="{% url 'main' %}">Giang Pham</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="#summary">Home</a>
          <a class="nav-item nav-link" href="#career">Career</a>
          <a class="nav-item nav-link" href="#skills">Skills</a>
          <a class="nav-item nav-link" href="#certis">Certificates</a>
          <a role="button" class="btn btn-success mr-2" href="{% url 'blogHome' %}">Blog</a>
          <a role="button" class="btn btn-warning mr-2" href="{% static 'my-resume.pdf' %}">Resume</a>
        </div>
      </div>
    </nav>
  </header>

  <!-- Scroll tracker -->
  <div data-spy="scroll" data-target="scroll-items" data-offset="0">

    <!-- Head -->
    <section id="summary">
      <div class="album p-5 box-transparent">
        <div class="row py-5 my-md-5 align-items-center">
          <div class="col-md-6 text-right my-5 align-items-center">
            <h1 class="text-orange bold">Hello, I'm Giang!</h1>
            <h5 class="mt-3">I'm a self-taught developer with basic skills of HTML, CSS, Bootstrap, Python, Django and
              PostgreSQL.</h5>
          </div>
          <div class="col-md-6 px-5 text-center">
            <img src="{% static 'my-avatar.jpg' %}" id="avatar" class="img-fluid rounded-circle img-thumbnail scale-hover" alt="My avatar">
          </div>
        </div>
      </div>
    </section>

    <!-- Career -->
    <section id="career">
      <div class="album bg-green my-5 p-5">
        <h1 class="text-center bold pt-5">My Career:</h1>
        <div class="row text-dark py-5">
          {% for job in jobs.all %}
          <div class="col-lg-4 col-md-6 p-4">
            <div class="card mb-4 scale-hover shadow">
              <img class="card-img-top" src="{{ job.image.url }}" alt="Image">
              <div class="card-body">
                <p class="card-text">{{ job.summary }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- Skills -->
    <section id="skills">
      <div class="album bg-light my-5 p-5 text-dark">
        <h1 class="text-center bold pt-5">My Skills:</h1>
        <div class="container p-5">
          {% for skill in skills.all %}
          <div class="row">
            <div class="col px-3">
              <p class="text-right">{{ skill.name }}</p>
            </div>
            <div class="col px-3 text-danger">
              <p>{{ skill.displayLevel }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- Certificates -->
    <section id="certis">
      <div class="album bg-orange text-dark my-5 p-5">
        <h1 class="text-center bold pt-5">Certificates:</h1>
        <div class="row text-dark py-5">
          {% for certi in certis.all %}
          <div class="col-lg-4 col-md-6 p-4">
            <a href="{{ certi.detailurl }}" target="_blank">
              <img class="img-fluid img-thumbnail shadow scale-hover" src="{{ certi.imageurl }}" alt="Image">
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </div>

  <!-- Footer -->
  <footer class="container-fluid text-light box-transparent text-center p-5">
    © Giang Pham {% now "Y" %}
    <a class="text-light ml-3" href="https://www.facebook.com/phamgiang2510" target="_blank">
      <img class="fly-hover" src="{% static 'facebook.png' %}" alt="Facebook">
    </a>
    <a class="text-light ml-2" href="mailto:phamgiang2510@gmail.com">
      <img class="fly-hover" src="{% static 'email.png' %}" alt="Email">
    </a>
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>